.loading {
    width: 25px;
    height: 25px;
    background-image: url('https://w7.pngwing.com/pngs/321/641/png-transparent-iphone-5s-ios-progress-bar-icon-load-the-map-loading-miscellaneous-tshirt-angle-thumbnail.png');
}